html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: monospace;
    font-size: 15px;
}
textarea {
    width: 45%;
    height: 50%;
}
#result > div {
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    /*margin: 5px;*/
    padding-bottom: 10px;
    font-weight: bold;
}
#result > div .price {
    font-size: 110%;
}

@media print {
    body > *:not(.print) { display: none; }
}